body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif; 
  /* now we will add background image jo flexible ho mltb screen bdda chota kro to usko affect ho and css tricks prr code hai just have to google background image css tricks */
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;/*ye webkit moz and o ka mtlb hua ki hrr trh ka chrome mozila and opera me support krre har browser ke liye ke liye alg hota hai*/
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.buffer{
  height: 10rem;
  /* giving that black space a height */
}

h1{
  font-size: 3rem;
  color:#e2dbdb;
  /* text ko uppr case yha se style ke madat se bhi krr skte hai uppercase me likh bhi skte hai ya phir bootstrap me class hota hai class="text-uppercase"
  ye h1 me lga denge */
}

.btn{
  font-weight: 700;
  border-radius: 300px;/*iss to corner round ho gya*/
  text-transform: uppercase;
}

.btn-primary{
  background-color: #f05F44;
  border-color: #f05f44;
}
.btn-primary:hover{
  /* ye bydefault ho jata hai wha mouse lekr jaenge to blue isiliye aise krke apna mn se color chng krdo */
  background-color:#ee4b08 ;/*isse jyda dark ho jaega*/
  border-color:#ee4b08 ;
  border-width: 3px;
}
.btn-xl{
   padding:1rem 2rem;/* 1 rem on the sides and 2rem on the top and bottom */
}
hr{
  border-color:#f05f44;
  border-width: 3px;/*taaki mota dikhe*/
  max-width: 65px;/*size..ki kitna lmba chahiye*/ 
}